//https://coolors.co/48b1bf-1a1f21-33c9c3-ee6c4d-303036
$white: #fafafa;
$gray: #303036;
$lightGray: #68686c;
$orange: #ff6d00;
$orange-light: #ff8e3a;
$vikingBlue: #48b1bf;
$irisBlue: #06beb6;
$cinder: #1a1f21;

$darken1: 5%;
$darken2: 10%;
$lighten1: 5%;
$lighten2: 10%;

$padding: 16px;
