@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700");

* {
  font-family: "Open Sans", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
